:root{
    --miVariable: rgb(117, 117, 2);
    --variable2: 25px;
}


/*Selectores HTML*/
h1{
    color: var(--miVariable);
    background-color: black;
    font-family: 'Zeyada', cursive;
    font-weight: 900;
}

p{
    color: blue;
}

body{
    background-color: var(--miVariable);
}


/*Selector ID*/
#principal{
    background-color: rgb(20, 32, 2);
    font-family: 'Shantell Sans', cursive;
    color: var(--miVariable);
    text-align: justify;
    font-style: italic;
}

#imagen1{
    border-radius: var(--variable2);
    width: 300px;
}


/*Selector Class*/
.pares{
    color: green;
    font-size: 10px;
    text-align: right;
}

.impares{
    color:rgb(98, 13, 151);
    font-size: var(--variable2);    text-align: center;
    font-weight:900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


