:root{
    --colorBoton:rgb(29, 82, 126);
    --colorFondoParrafo:rgb(26, 45, 61);
    --colorSeleccion:rgb(2, 141, 255);
    --colorPrimeraLetra:rgb(7, 187, 211);
}

body{
    display: flex;
    flex-direction: column;
    top: 0px;
    margin: 0px;
    height: 110vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 27, 43);
    overflow-x: hidden;
}

body::-webkit-scrollbar{
	background-color: #000;
	width: 10px;
}

body::-webkit-scrollbar-thumb{
	background: radial-gradient(rgb(0, 110, 255),black);
	width: 10px;
	border-radius: 10px;
}

h1{
    background-color: rgba(255, 255, 255, 0.459);
    padding: 10px 20px;
    border-radius: 15px;
    color: var(--colorFondoParrafo);
    font-family: 'Franklin Gothic Medium';
    margin-bottom: 50px;
}

h1::selection{
    color: rgb(78, 4, 107);
    background-color: gold;
}

#contenedor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgba(2, 82, 135, 0.29);
    width: 500px;
    height: 400px;
    border-radius: 30px;
    padding: 60px;
}

#contenedor img{
    height: 180px;
    width: 390px;
    /*Imagen girada con la propiedad rotate*/
    transform: rotate(335deg);
    margin-top: -50px;
    margin-bottom: 25px;
    cursor:pointer;
}

#parrafo{
    color: white;
    background-color: var(--colorFondoParrafo);
    border-radius: 15px;
    padding: 15px;
    font-family: Arial;
    font-size: 13px;
}

#parrafo::first-letter{
    color: var(--colorPrimeraLetra);
}

#parrafo::first-line{
    font-size: 20px;
    font-family: monospace;
}

#parrafo::selection{
    color: var(--colorSeleccion);
    background-color: rgb(19, 1, 17);
}

.boton{
    width: 300px;
    padding: 10px;
    font-family: system-ui;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#primerBoton{
    color: var(--colorFondoParrafo);
    background-color: var(--colorBoton);
    border-radius: 10px;
    border: none;
}

/*
    Nota: 
    :Hover es una Pseudoclase que aplica los estilos especificados 
    cuando el puntero esta sobre el elemento.
*/

#primerBoton:hover:before{
    content: "Ir directo a ";
}

#segundoBoton{
    color: white;
    background-color: var(--colorFondoParrafo);
    border-radius: 11px;
    border: none;
}

#segundoBoton:hover::after{
    content: " - Esto se muestra despues con ::after";
    color: rgb(128, 226, 37);
}

#input{
    width: 280px;
    padding: 10px;
    border-radius: 9px;
    background-color:rgba(255, 255, 255, 0.039);
    color: rgb(9, 149, 174);
    border: none;
    outline: none;
    text-align: center;
    font-family: system-ui;
    font-weight: 700;
    font-size: 15px;
}

#input::placeholder{
    color: rgb(174, 166, 9);
    
}